@coursemaker/gatsby-theme-coursemaker/node_modules
@coursemaker/gatsby-theme-coursemaker/src/components
@coursemaker/gatsby-theme-coursemaker/src/__mocks__
@coursemaker/gatsby-theme-coursemaker/src/__tests__
@coursemaker/gatsby-theme-coursemaker/src/auth
@coursemaker/gatsby-theme-coursemaker/src/css
@coursemaker/gatsby-theme-coursemaker/src/graphQL
@coursemaker/gatsby-theme-coursemaker/src/helpers
@coursemaker/gatsby-theme-coursemaker/src/images
@coursemaker/gatsby-theme-coursemaker/src/pages
@coursemaker/gatsby-theme-coursemaker/src/templates
course_demo_site
node_modules
.cache
public
dist