@coursemaker/gatsby-theme-coursemaker/node_modules
@coursemaker/gatsby-theme-coursemaker/src
@coursemaker/gatsby-theme-coursemaker/bootstrapping
@coursemaker/gatsby-theme-coursemaker/payments
course_demo_site
node_modules
.cache
public
dist